<div id="content">
  <div class="container">
    <div class="row">
      <div class="inner_container">
        <h2>Booking Request Sent</h2>
        <p>Your booking is now pending and host needs to approve your request.</p>
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <%= link_to "View your rented spaces request", your_rented_spaces_path, class:"btn btn-success btn-block" %>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
