<br>
<br>
<br>
<div class="row" ng-app="app">
  <div ng-controller="bookingCtrl" ng-init="your_rented_spaces_setup()">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li>
            <%= link_to "Your Bookings", your_bookings_path %>
          </li>
          <li>
            <%= link_to "Your Rented Spaces", your_rented_spaces_path %>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <h1>Your Rented Spaces</h1>
        <table class="table">
          <tr>
            <th>Move In</th>
            <th>Move Out</th>
            <th>Price</th>
            <th>Status</th>
            <th>Space Host</th>
          </tr>
          <tr ng-repeat="rented_space in rentedSpaces">
            <td>{{ rented_space.move_in }}</td>
            <td>{{ rented_space.move_out }}</td>
            <td>{{ rented_space.price }}</td>
            <td>{{ rented_space.approved_status }}</td>
            <td>{{ rented_space.host }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
