<div id="content">
  <div class="container">
  <div class="row" ng-app="app">
  <div ng-controller="bookingCtrl" ng-init="your_bookings_setup()">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li class="active">
            <%= link_to "Your Bookings", your_bookings_path %>
          </li>
          <li>
            <%= link_to "Your Rented Spaces", your_rented_spaces_path %>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <h1>Your Bookings</h1>
        <div id='calendar'></div>
          <div ng-repeat="space_listing in spaceListings">
            <h2 ng-if="space_listing.bookings">{{ space_listing.title }}</h2>
            <ul ng-repeat="booking in space_listing.bookings" class="list-group">
              <li class="list-group-item">
                <p>Move In: {{ booking.move_in }}</p>
                <p>Move Out: {{ booking.move_in }}</p>
                <p>Renter: {{ booking.renter }}</p>
                <p>Price: {{ booking.price }}</p>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
