<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <h3>BetterSpace</h3>
          <address>
            <strong>Real Space Listing</strong><br>
            100 Main Street, San Francico CA<br>
            <br>
            Telp. : +62-12345678910<br>
            Email : info@betterspace.com
          </address>
        </div>
      </div>
      <!-- break -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <h3>Recent Listed</h3>
          <ul class="list-unstyled">
            <% @recent_listings.each do |listing| %>
            <li><a href="/space_listings/<%= listing.id %>"><%= listing.title.capitalize %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- break -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <h3>Top Host Listed</h3>
          <ul class="list-unstyled">
            <% @top_hosts.each do |host| %>
            <li><a href="/user/<%= host.id %>"><%= host.full_name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- break -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <h3>LISTING TYPE</h3>
          <ul class="list-unstyled">
            <ul class="list-check">
              <li><a href="#">Garage</a></li>
              <li><a href="#">House</a></li>
              <li><a href="#">Outdoor</a></li>
              <li><a href="#">Indoor</a></li>
            </ul>
          </ul>
        </div>
      </div>
      <!-- break -->
    </div>
    <!-- break -->

    <!-- begin:copyright -->
    <div class="row">
      <div class="col-md-12 copyright">
        <p>&copy; 2016 Better-Space All Right Reserved.</p>
      </div>
    </div>
    <!-- end:copyright -->

  </div>
</div>
