<div id="header" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active" style="background-image: url(/assets/theme/slide01.jpg);">
      <div class="carousel-caption hidden-xs">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh.</p>
        <ul class="list-inline list-features">
          <li>For Rent</li>
          <li><i class="fa fa-home"></i> 5,000 m<sup>2</sup></li>
          <li><i class="fa fa-hdd-o"></i> 2 Bed</li>
          <li><i class="fa fa-male"></i> 2 Bath</li>
          <li><i class="fa fa-car"></i> 2 Garages</li>
        </ul>
        <div class="property-btn">
          <a href="#" class="btn btn-success btn-lg"><i class="fa fa-file-text-o"></i> $800</a>
        </div>
      </div>
    </div>
    <div class="item" style="background-image: url(/assets/theme/slide02.jpg);">
      <div class="carousel-caption hidden-xs">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh </p>
        <ul class="list-inline list-features">
          <li>For Sale</li>
          <li><i class="fa fa-home"></i> 5,000 m<sup>2</sup></li>
          <li><i class="fa fa-hdd-o"></i> 2 Bed</li>
          <li><i class="fa fa-male"></i> 2 Bath</li>
          <li><i class="fa fa-car"></i> 2 Garages</li>
        </ul>
        <div class="property-btn">
          <a href="#" class="btn btn-success btn-lg"><i class="fa fa-file-text-o"></i> $800</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#header" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#header" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
