<div class="the-search">
  <div class="container">
    <div class="row">
      <form role="form">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="form-group">
            <label for="location">Location</label>
            <select class="form-control">
              <option>Tasmania</option>
              <option>Yogyakarta</option>
              <option>Tokyo</option>
              <option>Busan</option>
              <option>Taipe</option>
            </select>
          </div>
          <div class="form-group">
            <label for="maxprice">Max Price</label>
            <select class="form-control">
              <option>$8,200</option>
              <option>$11,700</option>
              <option>$14,150</option>
              <option>$21,110</option>
            </select>
          </div>
        </div>
        <!-- break -->
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control">
              <option>For Sale</option>
              <option>For Rent</option>
            </select>
          </div>
          <div class="form-group">
            <label for="bathroom">Bathroom</label>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <!-- break -->
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control">
              <option>Villa</option>
              <option>Recident</option>
              <option>Commercial</option>
            </select>
          </div>
          <div class="form-group">
            <label for="bedroom">Bedroom</label>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <!-- break -->
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="form-group">
            <label for="minprice">Min Price</label>
            <select class="form-control">
              <option>$4,200</option>
              <option>$6,700</option>
              <option>$8,150</option>
              <option>$11,110</option>
            </select>
          </div>
          <div class="form-group">
            <label for="submit">&nbsp;</label>
            <input type="submit" name="submit" value="Search" class="btn btn-success btn-block">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
