<!-- begin:testimony -->
<div id="testimony">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div id="testislider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <div class="testimony-container">
                <div class="testimony-image" style="background: url(assets/team01.jpg)"></div>
                <div class="testimony-content">
                  <h3>Jane Mary</h3>
                  <blockquote>
                    <p>I love BetterSpace for promoting listings. It’s simple to use and helps me reach an engaged customer.</p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-container">
                <div class="testimony-image" style="background: url(assets/team02.jpg)"></div>
                <div class="testimony-content">
                  <h3>Joey Jones</h3>
                  <blockquote>
                    <p>I love BetterSpace services. They have a consistent way of helping people and business free up spaces in the community.</p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-container">
                <div class="testimony-image" style="background: url(assets/team03.jpg)"></div>
                <div class="testimony-content">
                  <h3>Julia</h3>
                  <blockquote>
                    <p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#testislider" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#testislider" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end:testimony -->
