<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% if notice.present? || alert.present?  %>
        <div class="alert <%= styleFlash(notice.present?, alert.present?)%>">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <% if notice.present? %>
          <p><%= notice %></p>
          <% end %>
          <% if alert.present? %>
          <p><%= alert %></p>
          <% end %>
        </div>
        <% end %>
        <ul class="topbar-nav topbar-left">
          <li class="disabled"><a href="#"><i class="fa fa-envelope"></i> info@betterspace.com</a></li>
          <li class="disabled"><a href="#"><i class="fa fa-phone"></i> (+62) - 1234567890</a></li>
        </ul>
        <ul class="topbar-nav topbar-right hidden-xs">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
