<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="topbar-nav topbar-left">
          <li class="disabled"><a href="#"><i class="fa fa-envelope"></i> info@betterspace.com</a></li>
          <li class="disabled"><a href="#"><i class="fa fa-phone"></i> (+62) - 1234567890</a></li>
        </ul>
        <ul class="topbar-nav topbar-right hidden-xs">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
