<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12 text-center card card-1">
    <h2>Space Renters</h2>
    <p>DISCOVER AVAILABLE STORAGE SPACES IN YOUR AREA.</p>
    <a href="/list_view" class="btn btn-success btn-lg">RENT NOW</a>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12 text-center card card-1">
    <h2>Space Host</h2>
    <p>PROMOTE AND LEASE YOUR AVAILABLE SPACES TO RENT.</p>
    <a href="/space_listings/new" class="btn btn-success btn-lg">LEASE NOW</a>
  </div>
</div>

<%= render "shared/service" %>
