<div id="content">
  <div class="container">
    <div ng-app="app">
      <div ng-controller="spaceListingCtrl" ng-init="setup()">
        <div class="row">
          <!-- begin:article -->
          <div class="col-md-9 col-md-push-3">
            <div class="row">
              <div class="col-md-8">
                <div class="heading-title heading-title-alt">
                  <h4>Space Listings meeting the search criteria</h4>
                </div>
              </div>
              <div class="col-md-4">
                <% if params[:map_view].nil? %>
                <form class="form-inline" role="form">
                  <label for="search">Search:</label>
                  <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </form>
                <% end %>
              </div>
            </div>
            <!-- begin:sorting -->
            <div class="row sort">
              <div class="col-md-4 col-sm-4 col-xs-4">
                <a href="/space_listings?map_view=true" class="btn btn-default"><i class="fa fa-map"></i></a>
                <a href="/space_listings" class="btn btn-success"><i class="fa fa-list"></i></a>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-8">
                <% if params[:map_view].nil? %>
                <form class="form-inline" role="form">
                  <span>Sort by : </span>
                    <a href="#" ng-click="toggleOrder('day_rent', true);">Highest Rent</a>
                    <a href="#" ng-click="toggleOrder('day_rent', false);">Lowest Rent</a>
                </form>
                <% end %>
              </div>
            </div>
            <!-- end:sorting -->
            <% if !params[:map_view].nil? %>
            <%= render "multi_map" %>
            <% else %>
            <%= render "list_view" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
