<div ng-app="app">
  <div ng-controller="spaceListingCtrl" ng-init="setup()">
    <!-- begin:article -->
    <div class="col-md-9 col-md-push-3">
      <div class="row">
        <div class="col-md-12">
          <div class="heading-title heading-title-alt">
            <h3>Space Listings meeting the search criteria</h3>
          </div>
        </div>
      </div>
      <!-- begin:sorting -->
      <div class="row sort">
        <div class="col-md-5 col-sm-5 col-xs-5">
          <a href="/space_listings" class="btn btn-default"><i class="fa fa-map"></i></a>
          <a href="/list_view" class="btn btn-success"><i class="fa fa-list"></i></a>
          <%= style_page_info(page_entries_info @space_listings) %>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-7">
          <form class="form-inline" role="form">
            <span>Sort by : </span>
            <div class="form-group">
              <a href="#" ng-click="toggleOrder('day_rent', true);">Highest Rent</a>
              <a href="#" ng-click="toggleOrder('day_rent', false);">Lowest Rent</a>
            </div>
          </form>
        </div>
      </div>
      <!-- end:sorting -->

      <!-- begin:product -->
      <div class="row container-realestate">
        <div ng-repeat="space_listing in spaceListings | orderBy:orderAttribute:descending" class="col-md-12 col-sm-12 col-xs-12">
          <div class="property-container">
            <div class="property-content-list">
              <div class="property-image-list">
                <img src="{{space_listing.images[0]['image_src'].url}}" alt="">
                <div class="property-price">
                  <h4> {{ space_listing.title }} </h4>
                  <span>${{ space_listing.day_rent | number:2 }}<small>/day</small></span>
                </div>
                <div class="property-status">
                  <span>For Rent</span>
                </div>
                <div class="property-footer">
                  <a href="#" title="Add to favorite"><i class="fa fa-heart"></i></a>
                  <a href="#" title="Contact Agent"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
              <div class="property-text">
                <h3><a href="/space_listings/{{space_listing.id}}">{{space_listing.title}}</a>
                  <small>{{ space_listing.address }}, {{ space_listing.city }}</small></h3>
                  <p>{{ space_listing.description }}</p>
                  <p>{{ space_listing.environment_type }}</p>
                  <p>{{ space_listing.size_length }} x {{ space_listing.size_width }} x {{ space_listing.size_height }}</p>
                  <p><a href="/bookings/new?space_listing_id={{space_listing.id}}" class="btn btn-success">Book Space</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end:product -->

      <%= paginate @space_listings %>

      </div>
      <!-- end:article -->

      <!-- begin:sidebar -->
      <div class="col-md-3 col-md-pull-9 sidebar">
        <div class="widget widget-sidebar widget-white">
          <div class="widget-header">
            <h3>Recent Listing</h3>
          </div>
          <ul>
            <li><a href="#">Luxury Villa</a></li>
            <li><a href="#">Land In Central Park</a></li>
            <li><a href="#">The Urban Life</a></li>
            <li><a href="#">Luxury Office</a></li>
          </ul>
        </div>
        <!-- break -->
        <div class="widget widget-sidebar widget-white">
          <div class="widget-header">
            <h3>Listing Type</h3>
          </div>
          <ul class="list-check">
            <li><a href="#">Garage</a>&nbsp;(18)</li>
            <li><a href="#">House</a>&nbsp;(31)</li>
            <li><a href="#">Office</a>&nbsp;(52)</li>
            <li><a href="#">Apartment</a>&nbsp;(8)</li>
          </ul>
        </div>
        <!-- break -->
        <div class="widget widget-sidebar widget-white">
          <div class="widget-header">
            <h3>Top Host</h3>
          </div>
          <ul>
            <li><a href="#">John Doe</a></li>
            <li><a href="#">Christoper Drew</a></li>
            <li><a href="#">Jane Doe</a></li>
            <li><a href="#">Jeny</a></li>
          </ul>
        </div>

      </div>
      <!-- end:sidebar -->
    </div>
  </div>
