/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-datepicker3.min
 *= require font-awesome
 *= require style.min
 *= require responsive.min
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

.alert {
  padding: 7px;
}

.topbar {
  position: static;
}

.navbar {
    margin-bottom: 0px;
}

.property-image-list img {
    max-width: 100%;
    width: 100%;
    height: 250px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 3px solid #EEE;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)
}

.pgTitle {
    font-weight: 200;
    margin-bottom: 12px;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 28px;
    letter-spacing: -1px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.inner_container {
    margin: 25px 0px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-style: solid;
    border-width: 6px;
    border-color: #E5E5E5;
    border-radius: 18px
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
     margin-left: 0;
 }


.inner_container{
  margin-top: 0;
  a {
    line-height: 2.5;
  }
}
