h2 {
  display: block;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

// .card {
//   background: #fff;
//   border-radius: 2px;
//   height: 200px;
// }
//
// .card-1 {
//   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
//   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
// }
//
// .card-1:hover {
//   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
// }

.input-group-addon {
  border: 3px solid #EEE;
  border-radius: 8px;
}

.review_container {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #ddd;
}

.fc-day-grid-event .fc-content{
  white-space: normal;
  background-color: #378006;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #378006;
}

.fc-button-group, .fc button {
  display: table-row-group;
}

.nav-pills > li.active > a {
  background-color: #378006;
}

.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #54724B;
}

.demo-container {
  width: 100%;
  max-width: 350px;
  margin: 50px auto;
}
