h2 {
  display: block;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.input-group-addon {
  border: 3px solid #EEE;
  border-radius: 8px;
}

.review_container {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #ddd;
}

.fc-day-grid-event .fc-content{
  white-space: normal;
  background-color: #378006;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #378006;
}

.fc-button-group, .fc button {
  display: table-row-group;
}

.nav-pills > li.active > a {
  background-color: #378006;
}

.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #54724B;
}

.demo-container {
  width: 100%;
  max-width: 350px;
  margin: 50px auto;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.services{
  color: white;
  small{
    color: white;
  }
  h2, p{
    color: white;
  }
}

.landing, .landing2 {
  color: white;
  margin-top: 100px;
  margin-bottom: 100px;

}

.landing-search {
  border: 4px solid #D03B3B;
  border-radius: 3px;
}

.landing{
  h2{
    color: #6C211B;
    font-weight: bold;
    font-size: 3em;
  }
}

.myavatar-icon{
  border-radius: 50%;
}
