<div id="locationField" class="form-group">
    <label for="autocomplete">Search</label>
    <input id="autocomplete" class="form-control" placeholder="Enter your address" onfocus="geolocate()" type="text"></input>
</div>
